.ui__section(data-id='buttons')
  h2.base-subtitle Кнопки

  .ui__section-field
    span.base-text Основная кнопка/ссылка
    .ui__section-field-grid
      +btn({
        tag: 'button',
        cls: 'btn-primary',
        title: 'btn btn-primary'
      })       

      +btn({
        tag: 'button',
        cls: 'btn-primary rounded-xs',
        title: 'btn btn-primary rounded-xs'
      })

      +btn({
        tag: 'button',
        cls: 'btn-primary rounded-sm',
        title: 'btn btn-primary rounded-sm'
      })

      +btn({
        tag: 'button',
        cls: 'btn-primary rounded-md',
        title: 'btn btn-primary rounded-md'
      })

      +btn({
        tag: 'button',
        cls: 'btn-primary rounded-lg',
        title: 'btn btn-primary rounded-lg'
      })
  
  .ui__section-field
    span.base-text Дополнительная кнопка/ссылка

    .ui__section-field-grid
      +btn({
        tag: 'button',
        cls: 'btn-secondary',
        title: 'btn btn-secondary'
      })

      +btn({
        tag: 'button',
        cls: 'btn-secondary rounded-xs',
        title: 'btn btn-secondary rounded-xs'
      })

      +btn({
        tag: 'button',
        cls: 'btn-secondary rounded-sm',
        title: 'btn btn-secondary rounded-sm'
      })

      +btn({
        tag: 'button',
        cls: 'btn-secondary rounded-md',
        title: 'btn btn-secondary rounded-md'
      })

      +btn({
        tag: 'button',
        cls: 'btn-secondary rounded-lg',
        title: 'btn btn-secondary rounded-lg'
      })