.ui__section(data-id='colors')
  h2.base-subtitle Палитра цветов
  
  .ui__section-field.ui__section-field--color-pallete
    span.color-black color-black 
    span.color-white color-white
    span.color-primary color-primary 
    span.color-danger color-danger
    span.color-success color-success
    span.color-dark color-dark
    span.color-muted color-muted
  
  .ui__section-field.ui__section-field--color-pallete
    div.bg-primary bg-primary 
    div.bg-danger bg-danger
    div.bg-success bg-success
    div.bg-dark bg-dark
    div.bg-muted bg-muted
    div.bg-black bg-black
    div.bg-white bg-white

  