.ui__section(data-id='form-controls')
  h2.base-subtitle Элементы форм

  .ui__section-field
    span.base-text Инпуты
    .ui__section-field-grid
      input(type="number" placeholder="input[type='number']")
      input(type="text" placeholder="input[type='text']")
      input(type="phone" placeholder="input[type='phone']")
      input(type="text" placeholder="Строка поиска")
  
  .ui__section-field
    span.base-text Текстовая область
    <textarea placeholder="Textarea placeholder text"></textarea>
  
  .ui__section-field
    span.base-text Чекбоксы
    label
      input(type="checkbox")
      span input[type='checkbox']
  
  .ui__section-field
    span.base-text Радиокнопки
    label
      input(type="radio" name="radio")
      span input[type='radio']
    label
      input(type="radio" name="radio")
      span input[type='radio']
  
  .ui__section-field
    span.base-text Переключатели
  
  .ui__section-field
    span.base-text Селекты
