.ui__section(data-id='typography')
  h2.base-subtitle Типографика

  .ui__section-field.ui__section-field--typography
    .typography-section.typography-section--montserrat
      h2.typography-section__title Шрифт Montserrat

      span.main-title Главный заголовок
      span.base-title Базовый заголовок
      span.base-subtitle Базовый подзаголовок

      h1 Заголовок H1
      h2 Заголовок H2
      h3 Заголовок H3
      h4 Заголовок H4
      h5 Заголовок H5
      h6 Заголовок H6

      p Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Minus <a href="#">molestias porro</a> consequatur iste, id odit ullam officiis recusandae eaque! Ullam repellendus facilis praesentium cupiditate ipsum non, eos sunt enim vel.

    .typography-section.typography-section--roboto
      h2.typography-section__title Шрифт Roboto

      span.main-title Главный заголовок
      span.base-title Базовый заголовок
      span.base-subtitle Базовый подзаголовок

      h1 Заголовок H1
      h2 Заголовок H2
      h3 Заголовок H3
      h4 Заголовок H4
      h5 Заголовок H5
      h6 Заголовок H6

      p Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Minus <a href="#">molestias porro</a> consequatur iste, id odit ullam officiis recusandae eaque! Ullam repellendus facilis praesentium cupiditate ipsum non, eos sunt enim vel.

    .typography-section.typography-section--manrope
      h2.typography-section__title Шрифт Manrope

      span.main-title Главный заголовок
      span.base-title Базовый заголовок
      span.base-subtitle Базовый подзаголовок

      h1 Заголовок H1
      h2 Заголовок H2
      h3 Заголовок H3
      h4 Заголовок H4
      h5 Заголовок H5
      h6 Заголовок H6

      p Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Minus <a href="#">molestias porro</a> consequatur iste, id odit ullam officiis recusandae eaque! Ullam repellendus facilis praesentium cupiditate ipsum non, eos sunt enim vel.

    .typography-section.typography-section--inter
      h2.typography-section__title Шрифт Inter

      span.main-title Главный заголовок
      span.base-title Базовый заголовок
      span.base-subtitle Базовый подзаголовок

      h1 Заголовок H1
      h2 Заголовок H2
      h3 Заголовок H3
      h4 Заголовок H4
      h5 Заголовок H5
      h6 Заголовок H6

      p Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Minus <a href="#">molestias porro</a> consequatur iste, id odit ullam officiis recusandae eaque! Ullam repellendus facilis praesentium cupiditate ipsum non, eos sunt enim vel.

      