@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

$controlSize: 20px;

.radio-wrapper {
  label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--site-base-font-family);
    font-size: clamp(14px, 2.2vw, 16px);
    font-weight: 400;
    width: 100%;
    cursor: pointer;

    &::before {
      position: relative;
      content: "";
      width: $controlSize;
      aspect-ratio: 1;
      background-color: white;
      border: 2px solid var(--primary-color);
      border-radius: 50%;
    }

    a {
      color: var(--primary-color);
    }
  }

  input {
    display: none;
  }

  &:has(input:checked) label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc($controlSize/2);
    width: 8px;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

body:has(.--form-controls-border-color-secondary) {
  .radio-wrapper {
    label::before {
      border-color: var(--secondary-color);
    }

    label::after {
      background-color: var(--secondary-color);
    }
  }
}

body:has(.--form-controls-rounded) {
  .radio-wrapper {
    label::before {
      border-radius: var(--form-controls-border-radius);
    }
  }
}
