mixin radio(data)
  .radio-wrapper
    input(type="radio", id= data.id, name= data.name, checked= data.checked ? 'true' : null)
    label(class=data.label.class, for= data.id).radio-label
      span!= data.label.text
