section.seo-block(style = "background-image: url('../assets/img/top-secton-bg@1x.jpg'); background-color: var(--lighter-color);").--align-center
	.container
		include ../../components/static/content-block/content-block
