@forward "@styles/_extends/flexbox";
@forward "@styles/_extends/effects";
@forward "@styles/_extends/resets";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/navigation/navigation";
@use "@pug/components/_ui/address/address";
@use "@pug/components/_ui/social/social";

.header {
  padding: 8px 0;

  container: header-container / inline-size;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: clamp(8px, 2vw, 16px);
  }

  .header__call-button {
    font-size: 16px;
    padding: 16px 28px;
    width: fit-content;
  }

  &__logo {
    @extend %base-hover-effect;
  }

  &__logo-image {
    @include container-up(header-container, $tablet-width) {
      width: 132px;
      height: 40px;
    }
  }

  &__action-button {
    display: block;
    width: 40px;
    aspect-ratio: 1;
    padding: 0;
    background-color: transparent;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    @extend %base-hover-effect;

    @include container-up(header-container, $tablet-width) {
      width: 48px;
    }
  }

  &__address {
    font-size: 14px;
  }

  &__address,
  &__social,
  &__navigation,
  &__call-button--tablet {
    display: none;
  }

  &__burger-button {
    background-image: url("@img/burger-menu.svg");
  }

  &__mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: opacity var(--slow-transition);

    &-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: fixed;
      height: 100vh;
      padding: var(--container-offset);
      background-color: var(--white-color);
      width: 100%;
      max-width: 440px;
      transform: translateX(-100vw);
      transition: transform var(--slow-transition);
    }

    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-close-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: var(--primary-color);
        border-radius: 2px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &-navigation {
      .navigation__list {
        flex-direction: column;
      }
    }

    &-address {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      gap: 16px;

      .address__wrapper {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  @include container-up(header-container, $tablet-width) {
    &__call-button--tablet {
      display: block;
      margin-left: auto;
    }
  }

  @include container-up(header-container, $laptop-width) {
    .container {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        "address address address"
        "logo navigation call";
      row-gap: 8px;
      column-gap: 32px;
    }

    &__logo {
      grid-area: logo;
    }

    &__address {
      grid-area: address;
      display: flex;
      flex-wrap: wrap;
      row-gap: 4px;
      column-gap: 16px;
      justify-content: space-between;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--light-color);
    }

    &__navigation {
      display: block;
      justify-self: center;
    }

    &__call-button--tablet {
      grid-area: call;
    }

    &__burger-button {
      display: none;
    }

    &__mobile-menu {
      display: none;
    }
  }

  .navigation__list {
    width: fit-content;
  }

  &.--grid-type-2 {
    @include container-up(header-container, $laptop-width) {
      .container {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas:
          "logo address social call"
          "logo navigation social call";
        gap: 8px 32px;
        justify-items: left;
      }

      .header {
        &__logo {
          grid-area: logo;
        }

        &__address {
          grid-area: address;
          column-gap: clamp(40px, 4vw, 80px);
          padding-bottom: 0;
          border-bottom: none;
        }

        &__navigation {
          grid-area: navigation;
          justify-self: left;
        }

        &__social {
          display: flex;
          grid-area: social;
        }
      }
    }

    .address__wrapper {
      column-gap: clamp(40px, 4vw, 80px);
    }

    .address__social {
      display: none;
    }
  }

  &.--grid-type-3 {
    @include container-up(header-container, $laptop-width) {
      .container {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas:
          "logo address social call"
          "logo navigation social call";
        gap: 8px 32px;
        justify-items: center;
      }
      .header {
        &__logo {
          grid-area: logo;
        }

        &__address {
          grid-area: address;
          padding-bottom: 0;
          border-bottom: none;
          column-gap: clamp(40px, 4vw, 80px);
        }

        &__navigation {
          grid-area: navigation;
          justify-self: center;
        }

        &__social {
          display: flex;
          grid-area: social;
        }
      }

      .address__wrapper {
        column-gap: clamp(40px, 4vw, 80px);
      }

      .address__social {
        display: none;
      }
    }
  }

  &.--grid-type-4 {
    @include container-up(header-container, $laptop-width) {
      .container {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas:
          "address logo social call"
          "navigation navigation navigation navigation";
      }

      .header {
        &__address {
          grid-area: address;
          flex-direction: column;
          padding: 0;
          border: none;
        }

        &__logo {
          grid-area: logo;
          justify-self: center;
        }

        &__social {
          grid-area: social;
          display: flex;
          flex-wrap: wrap;
        }

        &__call-button--tablet {
          grid-area: call;
        }

        &__navigation {
          width: 100%;
          grid-area: navigation;
          border-top: 1px solid var(--light-color);

          .navigation__list {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .address__social {
        display: none;
      }
    }
  }

  &.--sticky-header {
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    z-index: 40;
  }
}
