.infinity-row-slider {
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		height: auto;
		touch-action: none;
		user-select: none;

		img {
			width: clamp(120px, 5vw, 200px);
			height: auto;
			object-fit: contain;
			pointer-events: none;
		}
	}

	.swiper-wrapper {
		transition-timing-function: linear;
	}

	&.--icon-size-lg .swiper-slide {
		img {
			width: clamp(120px, 16vw, 300px);
		}
	}

	&.--icon-size-md .swiper-slide {
		img {
			width: clamp(120px, 14vw, 260px);
		}
	}
}
