mixin infinity-row-slider(data)
  .swiper.infinity-row-slider(class= data.options.modifiers ? data.options.modifiers : null)
    .swiper-wrapper
      each slide in data.items
        .swiper-slide
          img(src=`./assets/img/${slide.img}` alt="Партнер" width="200" height="120")
        
