extends ../../layouts/base-section/template

block variables
  - sectionClass = 'staff-preview --grid-type-3'
  - sectionTitle = 'Наши сотрудники'
  - sectionText = 'Наша команда состоит из опытных специалистов с многолетним стажем.'

block content
  //- include ./staff-preview-type-1
  include ./staff-preview-type-2
