include ../../components/_ui/sliders/main-slider/template
include ./staff-preview-content


+main-slider({
  type:"staff-preview-slider",
  mainSliderModifiers: "--js--auto-fill staff-preview-slider",
  content: staffPreview,
})
