-
  const staffPreview = [
    {
      img: "staff-preview-mock1.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      img: "staff-preview-mock2.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      img: "staff-preview-mock1.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      img: "staff-preview-mock2.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
      {
      img: "staff-preview-mock1.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      img: "staff-preview-mock2.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      img: "staff-preview-mock1.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    },
    {
      img: "staff-preview-mock2.png",
      title: "Константин Константинов",
      note: "инженер",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    }
  ]
