@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.faq {
  container: faq-container / inline-size;

  @include container-up("faq-container", $laptop-lg-width) {
    &.--horizontal-view > .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-lg);

      .base-section__header {
        position: sticky;
        top: 0;
        align-self: start;
        align-items: flex-start;
        text-align: left;

        &::after {
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }
}
