-
  const data = {
    modifiers: '--js--toggle-mode --rounded-items --bordered-items --js--expanded-first-default',
    items: [{
      title: 'Звук клавиш печатной машинки попахивает безумием',
      text: 'Картельные сговоры не допускают ситуации, при которой независимые государства набирают популярность среди определенных слоев населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений. Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.'
    },
    {
      title: 'Ночь оказалась долгой',
      text: 'Наше дело не так однозначно, как может показаться: перспективное планирование позволяет оценить значение своевременного выполнения сверхзадачи. Таким образом, выбранный нами инновационный путь требует определения и уточнения приоретизации разума над эмоциями.'
    },{
      title: 'Давайте разбираться: жизнь прекрасна!',
      text: 'С другой стороны, глубокий уровень погружения предопределяет высокую востребованность как самодостаточных, так и внешне зависимых концептуальных решений. Равным образом, сложившаяся структура организации не оставляет шанса для глубокомысленных рассуждений.'
    }]
  }
