-
  const serviceContent= [
    {
      img: {
        src:"service-mock-1.jpg",
        alt:"Ремонт и отделка интерьера",
      },
      title: "Ремонт и отделка интерьера",
      description: "Комплексный ремонт под ключ с использованием качественных материалов.",
      content: "<p><b>Что входит в услугу:</b></p><ul><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li></ul>",
      price: {
        actual: "от 30 000 руб.",
        old: "от 45 000 руб."
      }

    },
    {
      img: {
        src:"service-mock-2.jpg",
        alt:"",
      },
      title: "Ремонт и отделка интерьера",
      description: "Комплексный ремонт под ключ с использованием качественных материалов.",
      content: "<p><b>Что входит в услугу:</b></p><ul><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li></ul>",
      price: {
        actual: "от 30 000 руб."
      }
    },
    {
     img: {
        src:"service-mock-3.jpg",
        alt:"Ремонт и отделка интерьера",
      },
      title: "Ремонт и отделка интерьера",
      content: "<p><b>Что входит в услугу:</b></p><ul><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li></ul>",
      price: {
        actual: "от 30 000 руб.",
        old: "от 45 000 руб."
      }
    },
    {
     img: {
        src:"service-mock-1.jpg",
        alt:"Ремонт и отделка интерьера",
      },
      title: "Ремонт и отделка интерьера",
      description: "Комплексный ремонт под ключ с использованием качественных материалов.",
      content: "<p><b>Что входит в услугу:</b></p><ul><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li></ul>",
      price: {
        actual: "от 30 000 руб.",
      }
    },
    {
     img: {
        src:"service-mock-2.jpg",
        alt:"Ремонт и отделка интерьера",
      },
      title: "Ремонт и отделка интерьера",
      content: "<p><b>Что входит в услугу:</b></p><ul><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li><li>Комплексный ремонт под ключ с использованием качественных материалов</li></ul>",
      price: {
        actual: "от 30 000 руб.",
        old: "от 45 000 руб."
      }
    },
  ]
