block variables
  - sectionClass = ''
  - sectionContainerClass = ''
  - sectionTitle = ''
  - sectionText  = ''

section.base-section(class= sectionClass)
  .container(class= sectionContainerClass)
    if hideSectionHeader != true
      .base-section__header
        h2.base-title!= sectionTitle
        if sectionText
          p.base-text!= sectionText
    block content

- sectionClass = ''
- sectionContainerClass = ''
- sectionTitle = ''
- sectionText  = ''
