
.gallery-preview__grid
  .gallery-preview__grid-item
    img(class = "gallery-preview__img" src="./assets/img/gallery-mock-image-1.jpg" alt="" width="1000" height="416" data-fancybox="gallery")
  .gallery-preview__grid-item
    img(class = "gallery-preview__img" src="./assets/img/gallery-mock-image-2.jpg" alt="" width="416" height="416" data-fancybox="gallery")
  .gallery-preview__grid-item
    img(class = "gallery-preview__img" src="./assets/img/top-section-bg@1x.jpg" alt="" width="1000" height="416" data-fancybox="gallery")
  .gallery-preview__grid-item
    img(class = "gallery-preview__img" src="./assets/img/gallery-mock-image-3.jpg" alt="" width="416" height="416" data-fancybox="gallery")
  .gallery-preview__grid-item
    img(class = "gallery-preview__img" src="./assets/img/gallery-mock-image-4.jpg" alt="" width="416" height="416" data-fancybox="gallery")
  .gallery-preview__grid-item
    img(class = "gallery-preview__img" src="./assets/img/gallery-mock-image-2.jpg" alt="" width="416" height="416" data-fancybox="gallery")




