include ../../components/_ui/sliders/main-slider/template

+main-slider({
  type: "gallery-slider",
  mainSliderModifiers: "gallery-slider",
  itemsModifiers: "",
  content: [
  {
    img: "top-section-bg@1x.jpg",
    alt: "",
  },
  {
    img: "gallery-mock-image-2.jpg",
    alt: "",
  },
  {
    img: "gallery-mock-image-3.jpg",
    alt: "",
  },
  {
    img: "gallery-mock-image-4.jpg",
    alt: "",
  },
  ]
})

