extends ../../layouts/base-section/template


block variables
  - sectionClass = 'gallery-preview --grid-type-1 --gallery-img-bordered --gallery-img-border-width-sm --gallery-img-rounded --gallery-img-border-secondary-color'
  - sectionTitle = 'Галерея'
  - sectionText = 'Мы учитываем все ваши пожелания и создаем уникальный проект'

block content
  include ./gallery-prewiev-type-1.pug
  //- include ./gallery-prewiev-type-2.pug
