mixin input(data)
  .input-wrapper
    label(class=data.label.class, for=data.id, aria-label=data.label.text)
    input(type=(data.type ? data.type : "text"), id= data.id, data-mask-type=(data.mask ? data.mask : null), placeholder= data.placeholder, name= data.name)
