button(type="button" aria-label="Назад").swiper-button-prev
  svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
    use(xlink:href='./assets/sprite.svg#chevron')
button(type="button" aria-label="Вперед").swiper-button-next
  svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
    use(xlink:href='./assets/sprite.svg#chevron')
