-
  const reviews = [{
    itemNumber: "1",
    rating: "5",
    text: "Недавно закончили ремонт в нашей двухкомнатной квартире с этой студией интерьеров, и мы с мужем в полном восторге! Они предложили нам несколько вариантов дизайна, из которых мы выбрали самый подходящий.",
    img: "review-mock-1.png",
    author: "Кириллов Владимир",
    title: "Генеральный директор компании “АРТ”",
    },
    {
    itemNumber: "2",
    rating: "3",
    text: "Я обратилась в студию интерьеров для ремонта моей маленькой квартиры-студии, и результатом я просто в восторг! Ребята из студии смогли максимально эффективно использовать пространство, создав уютный и функциональный интерьер. ",
    img: "review-mock-2.png",
    author: "Иванова Евгения",
    title: "Генеральный директор компании “АРТ”",
    },
    {
    itemNumber: "3",
    rating: "2.5",
    text: "Мы обратились в эту студию интерьеров для создания проекта нашего загородного дома, и результатом остались более чем довольны. Команда профессионалов продумала каждый уголок нашего дома, создав единый стиль и атмосферу уюта. ",
    img: "review-mock-3.png",
    author: "Константинов Валерий",
    title: "Генеральный директор компании “АРТ”",
    },
    {
    itemNumber: "4",
    rating: "1.5",
    text: "Мы обратились в эту студию интерьеров для создания проекта нашего загородного дома, и результатом остались более чем довольны. Команда профессионалов продумала каждый уголок нашего дома, создав единый стиль и атмосферу уюта. ",
    img: "review-mock-3.png",
    author: "Константинов Валерий",
    title: "Генеральный директор компании “АРТ”",
    },
    {
    itemNumber: "5",
    rating: "4",
    text: "Мы обратились в эту студию интерьеров для создания проекта нашего загородного дома, и результатом остались более чем довольны. Команда профессионалов продумала каждый уголок нашего дома, создав единый стиль и атмосферу уюта. ",
    img: "review-mock-3.png",
    author: "Константинов Валерий",
    title: "Генеральный директор компании “АРТ”",
    }]

