@forward "@pug/components/_ui/buttons/btn/_btn";

$btn-primary-color: var(--white-color);
$btn-primary-bg-color: var(--primary-color);

.btn-primary {
	@extend %btn;

	color: $btn-primary-color;
	background-color: $btn-primary-bg-color;

	&.outlined {
		color: $btn-primary-bg-color;
		background-color: $btn-primary-color;
		border-color: $btn-primary-bg-color;
	}
}
