.clients-preview__grid.--align-center(class="--filled-bg --bordered --image-size-xs")
  .clients-preview__grid-item
    img(src="./assets/img/client-mock-img-1.svg" alt="" width="240" height="120")
  .clients-preview__grid-item
    img(src="./assets/img/client-mock-img-2.svg" alt="" width="240" height="120")
  .clients-preview__grid-item
    img(src="./assets/img/client-mock-img-1.svg" alt="" width="240" height="120")
  .clients-preview__grid-item
    img(src="./assets/img/features-mock-img.png" alt="" width="240" height="120")

  