include ../../components/_ui/sliders/infinity-row-slider/template

+infinity-row-slider({
  options: {
    modifiers: '--fullwidth --image-size-lg'
  },
  items: [
    {
      img: 'client-mock-img-1.svg' 
    },
    {
      img: 'client-mock-img-2.svg'
    },
    {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
    {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
    {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
    {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
      {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
      {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
      {
      img: 'client-mock-img-1.svg'
    },
    {
      img: 'client-mock-img-2.svg'
    },
  ]
})

      