extends ../../layouts/base-section/template

block variables
  - sectionClass = 'clients-preview --underlined --full-widt --fille --bordered'
  - sectionTitle = 'Наши клиенты'

block content
  //- include ./clients-preview-type-1
  include ./clients-preview-type-2

