mixin nav(data)

  nav.navigation(class=data.class)
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href="#") Акции
      li.navigation__item
        a.navigation__link(href="#") Услуги
      li.navigation__item
        a.navigation__link(href="#") Доставка
      li.navigation__item
        a.navigation__link(href="#") Контакты
      li.navigation__item
        a.navigation__link(href="#") Доставка
      li.navigation__item
        a.navigation__link(href="#") Контакты
      li.navigation__item
        a.navigation__link(href="#") Доставка
      li.navigation__item
        a.navigation__link(href="#") Контакты
      li.navigation__item
        a.navigation__link(href="#") Доставка
      //- li.navigation__item.navigation__item--nested ...
      //-   ul

