mixin social(data)

  ul(class=["social", data.class])
    each item in data.items
      li.social__item
        a(class=`social__link social__link--${item.modifier}` href!=data.link aria-label!= item.social)
