extends ./pug/layouts/main-layout

block variables
  -
    const title = "nm-site-builder"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template-styles','./styles/dev']

block content
  include ./pug/sections/ui/ui.pug
  
  