include ../../components/_ui/cards/simple-card/template
.about__grid-container
  .about__grid.--align-center
    .about__grid-item
      img(src="./assets/img/about-mock-img.png" alt="about-img" height="570" width="760") 
    .about__grid-item
      p Наша студия интерьеров была основана с целью создания уютных, стильных и функциональных пространств, которые приносят радость и вдохновение каждому дню. За годы работы мы накопили огромный опыт и реализовали множество проектов различной сложности, от небольших квартир до больших загородных домов. Мы гордимся тем, что наши клиенты довольны результатом и рекомендуют нас своим друзьям и знакомым.
