include ../../components/_ui/cards/simple-card/template
.about__grid-container
  .about__grid.--reversed
    .about__grid-item
      img(src="./assets/img/about-mock-img.png" alt="about-img" height="570" width="760") 
    .about__grid-item
      .about__features-list.--column
        +simple-card({
          title: 'Качество и надежность',
          text: 'Мы используем только высококачественные материалы и современные технологии, чтобы гарантировать долговечность и надежность наших проектов.'
        })
        +simple-card({
          title: 'Индивидуальный подход',
          text: 'Мы внимательно слушаем каждого клиента, чтобы понять его потребности и предложить наилучшие решения.'
        })
        +simple-card({
          title: 'Креативность и инновации',
          text: 'Мы постоянно ищем новые идеи и решения, чтобы создавать интерьеры, которые выделяются своей оригинальностью и современностью.'
        })
        +simple-card({
          title: 'Ответственность и пунктуальность',
          text: 'Мы ценим время наших клиентов и стремимся выполнять все работы в оговоренные сроки.'
        })
