extends ../../layouts/base-section/template

block variables
  - sectionClass = 'about --underlined'
  - sectionTitle = 'О компании'

block content
  include ./about-grid-type-1
  include ./about-grid-type-2
  include ./about-grid-type-3
  include ./about-grid-type-4

