<div class="captcha-block invlid-fld">
  <input type="hidden" name="captcha_sid" value="" />
  <div class="input-wrapper">
    <input type="text" placeholder="Введите символы с картинки" name="captcha_word" size="30" maxlength="50" value="" class="inputtext" />
  </div>
  <div class="captcha-block__img-wrapper">
    <img src="./assets/img/captcha.jpeg" width="180" height="40" alt="" />
  </div>
</div>
