include ../../components/_ui/cards/feature-card/template
.features__grid-container
  .features__grid.features__grid--type-5 
    .features__grid-item
      +feature-card({
        title: '3D <br>визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',
        icon: true
      })
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн <br>интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        icon: true
      })
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн <br>интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        icon: true
      })
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн <br>интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        icon: true
      })