include ../../components/_ui/cards/feature-card/template
.features__grid-container
  .features__grid.features__grid--type-4
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',

      })
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',

      })
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',

      })
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',

      })
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',

      })