include ../../components/_ui/cards/feature-card/template
.features__grid-container
  .features__grid.features__grid--type-1
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',

        icon: true,
        modifiers: '--content-position-bottom --content-color-dark --filled-bg-secondary' 
      })
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',
        modifiers: '--content-position-center'
      })
    .features__grid-item
      +feature-card({
        title: 'Подбор мебели и декора',
        text: 'Индивидуальный подбор мебели и аксессуаров, соответствующих вашему стилю и бюджету.',
        bg: 'features-mock-img',
      })
    .features__grid-item
      +feature-card({
        title: 'Ремонт и отделка',
        text: 'Комплексный ремонт под ключ с использованием качественных материалов.',

      })
    .features__grid-item
      +feature-card({
        title: 'Экологичность',
        text: 'Жилой комплекс расположен в зелёной зоне, поблизости есть парки и водоёмы, что обеспечивает чистый воздух и возможность наслаждаться природой.',
        bg: 'features-mock-img',
        modifiers: '--content-bottom'
      })