include ../../components/_ui/cards/feature-card/template
.features__grid-container
  .features__grid.features__grid--type-7 
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        bg: 'features-mock-img',
      })
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        bg: 'features-mock-img',
      })
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        bg: 'features-mock-img',
      })
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        bg: 'features-mock-img',
        icon: true,
        modifiers: '--content-position-center --content-align-center --content-color-light'
      })