include ../../components/_ui/cards/feature-card/template
.features__grid-container
  .features__grid.features__grid--type-3
    .features__grid-item
      +feature-card({
        title: 'Полный дизайн интерьера',
        text: 'Разработка концепции, планировка, подбор материалов и мебели.',
        bg: 'features-mock-img',
        modifiers: '--content-position-bottom'
      })
    .features__grid-item
      +feature-card({
        title: '3D визуализация',
        text: 'Создание реалистичных 3D моделей вашего будущего интерьера.',

      })
    .features__grid-item
      +feature-card({
        title: 'Экологичность',
        text: 'Жилой комплекс расположен в зелёной зоне, поблизости есть парки и водоёмы, что обеспечивает чистый воздух и возможность наслаждаться природой.',

        modifiers: '--content-position-bottom --сolorfilled'
      })