extends ../../layouts/base-section/template

block variables
  - sectionClass = 'features --underlined'
  - sectionTitle = 'Наши преимущества'
  - sectionText = 'Мы создаем уникальные интерьеры, учитывая все ваши пожелания и особенности помещения. Наш профессионализм и внимание к деталям гарантируют, что ваш дом станет настоящим произведением искусства.'

block content
  //- include ./features-grid-type-1
  //- include ./features-grid-type-2
  //- include ./features-grid-type-3
  include ./features-grid-type-4
  include ./features-grid-type-5
  include ./features-grid-type-6 
  include ./features-grid-type-7

