@forward "@styles/_extends/flexbox";
@forward "@styles/_extends/effects";
@forward "@styles/_extends/resets";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/navigation/navigation";
@use "@pug/components/_ui/address/address";
@use "@pug/components/_ui/social/social";
@use "@pug/components/_ui/details/details";

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;

.footer {
  padding: 32px 0;

  container: footer-container / inline-size;

  .container {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: $gap-sm;

    &-image {
      width: 40px;
      height: 40px;
      fill: var(--primary-color);
    }

    &-text {
      width: 84px;
      height: 39px;
      fill: var(--black-color);
    }
  }

  &__call-button {
    font-size: 16px;
    padding: 16px 28px;
    width: fit-content;
    max-width: 200px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: $gap-md;

    .address__wrapper {
      display: flex;
      flex-direction: column;
      gap: $gap-md;
    }

    .social {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-md;
    }
  }

  &__navigation {
    .navigation__list {
      display: flex;
      flex-direction: column;
      column-gap: $gap-lg;
      row-gap: $gap-md;
    }
  }

  &__hot-links-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    column-gap: $gap-lg;
    row-gap: $gap-md;
  }

  &__hot-links-item {
    justify-self: center;
  }

  &__social {
    display: none;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    width: 100%;
    padding-top: 32px;
    border-top: 1px solid var(--light-color);
  }

  @include container-up("footer-container", $tablet-width) {
    .container {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        "logo . button"
        "navigation navigation navigation"
        "address hot-links hot-links"
        "details hot-links hot-links"
        "copyright copyright copyright";
      gap: $gap-lg;
      align-items: start;
    }

    .footer {
      &__logo {
        grid-area: logo;
        align-self: center;
      }

      &__call-button {
        grid-area: button;
        justify-self: end;
      }

      &__navigation {
        grid-area: navigation;
        display: flex;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--light-color);

        .navigation__list {
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 auto;
        }
      }

      &__address {
        grid-area: address;
      }

      &__hot-links-list {
        grid-area: hot-links;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &__copyright {
        grid-area: copyright;
        flex-direction: row;
        justify-content: space-between;
      }

      &__details {
        grid-area: details;
      }
    }
  }

  @include container-up("footer-container", $laptop-width) {
    .container {
      display: grid;
      grid-template-columns: auto auto 1fr auto auto;
      grid-template-areas:
        "logo navigation navigation navigation button"
        "address address hot-links details details"
        "copyright copyright copyright copyright copyright";
      gap: $gap-lg;
      align-items: flex-start;
    }

    .footer {
      &__logo {
        grid-area: logo;
        align-self: center;
      }

      &__call-button {
        grid-area: button;
        align-self: center;
      }

      &__navigation {
        grid-area: navigation;
        border-bottom: none;
        align-self: center;
        padding-bottom: 0;
      }

      &__address {
        grid-area: address;
      }

      &__hot-links-list {
        grid-area: hot-links;
        align-self: flex-start;
      }

      &__hot-links-item {
        justify-self: center;
      }

      &__copyright {
        grid-area: copyright;
      }

      &__details {
        grid-area: details;
        justify-self: end;
      }
    }
  }

  &.--grid-type-2 {
    @include container-up("footer-container", $tablet-width) {
      .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
          "logo . button"
          "navigation hot-links details"
          "address address address"
          "copyright copyright copyright";
        gap: $gap-lg;
        align-items: start;
      }

      .footer {
        &__logo {
          grid-area: logo;
        }

        &__call-button {
          grid-area: button;
        }

        &__navigation {
          grid-area: navigation;
          border: none;

          .navigation__list {
            flex-direction: column;
            margin: 0;
            gap: $gap-md;
          }
        }

        &__hot-links-list {
          grid-area: hot-links;
        }

        &__address {
          grid-area: address;
          flex-direction: row;
          justify-content: space-between;

          .address__wrapper {
            flex-direction: row;
            gap: $gap-md;
          }
        }

        &__details {
          grid-area: details;
        }
      }
    }
  }

  &.--grid-type-3 {
    @include container-up("footer-container", $tablet-width) {
      .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
          "logo . button"
          "navigation hot-links address"
          "details  details  details"
          "copyright copyright copyright";
        gap: $gap-lg;
        align-items: start;
      }

      .footer {
        &__logo {
          grid-area: logo;
        }
        &__call-button {
          grid-area: button;
        }

        &__navigation {
          grid-area: navigation;
          border: none;

          .navigation__list {
            flex-direction: column;
            margin: 0;
            gap: $gap-md;
          }
        }

        &__hot-links-list {
          grid-area: hot-links;
        }

        &__address {
          grid-area: address;
        }

        &__details {
          grid-area: details;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  &.--grid-type-4 {
    @include container-up("footer-container", $tablet-width) {
      .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
          "logo social button"
          "navigation navigation navigation"
          "hot-links  hot-links address"
          "hot-links  hot-links details"
          "copyright copyright copyright";
        gap: $gap-lg;
        align-items: start;
      }

      .footer {
        &__logo {
          grid-area: logo;
        }

        &__social {
          grid-area: social;
          display: flex;
          align-self: center;
          justify-self: end;
          gap: $gap-md;
        }

        &__address {
          grid-area: address;

          .social {
            display: none;
          }
        }

        &__call-button {
          grid-area: button;
        }

        &__navigation {
          grid-area: navigation;
        }

        &__hot-links-list {
          grid-area: hot-links;
        }

        &__hot-links-item {
          justify-self: start;
        }

        &__details {
          grid-area: details;
        }
      }
    }
  }

  &.--mobile-content-align-center {
    @include container-down("footer-container", $tablet-width) {
      .container {
        align-items: center;
        text-align: center;
      }

      .footer {
        &__address {
          text-align: center;

          .address__wrapper {
            align-items: center;
          }

          .social {
            margin: 0 auto;
          }
        }
      }
    }
  }

  &.--bg-dark {
    background-color: var(--dark-color);

    & * {
      color: var(--white-color);
    }

    .footer__logo-text {
      fill: var(--white-color);
    }
  }
}
