%base-hover-effect {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;

	@media (hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}

	&:focus {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.4;
	}
}
